.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: #eee;
}

.container .sidebar,
.container .main {
  padding: 10px;
}

.container .main {
  min-height: 100vh;
  margin-left: 220px;
}

.container .sidebar {
  width: 200px;
  float: left;
  height: 100%;
}

.container.right-nav .sidebar {
  float: right;
}

.container.right-nav .main {
  margin-left: 0;
  margin-right: 220px;
  border-left: none;
  border-right: 2px solid #333;
}
