body h1 {
    color: #000;
}

body .btn {
    padding: 2px 10px 2px 10px;
    border-radius: 2px;
    border: 1px solid #c46;
    background-color: #cc4466;
}

body .btn-primary {
    color: white;
}

body .btn-secondary {
    background-color: #edbcc8;
}

body .btn:disabled {
    opacity: 0.5;
}